.menu-link{

display:flex;

padding:12px;

gap:10px;

}


.menu-link:hover{

background:#1e293b;

}


.submenu{

display:none;

padding-left:20px;

}


.submenu.active{

display:block;

}
.dark{

background:#111827;

color:white;

}
@media(max-width:768px){

#sidebar{

position:absolute;


z-index:999;


transition:0.3s;

}

}