<div id="paymentModal"
class="hidden fixed inset-0 bg-black bg-opacity-50">

<div class="bg-white w-1/2 mx-auto mt-10 rounded-lg p-5">

<h2 class="text-xl font-bold mb-4">

Payment

</h2>


<div class="mb-4">

Total Due

<span id="paymentTotal">

0.00

</span>

</div>


<div class="grid grid-cols-3 gap-3">

<button class="paymentMethod"
data-type="cash">

Cash

</button>


<button class="paymentMethod"
data-type="mpesa">

M-Pesa

</button>


<button class="paymentMethod"
data-type="card">

Card

</button>


<button class="paymentMethod"
data-type="bank">

Bank

</button>


<button class="paymentMethod"
data-type="credit">

Credit

</button>


<button class="paymentMethod"
data-type="split">

Split

</button>

</div>

</div>

</div>
<div id="cashSection">

<label>

Amount Received

</label>


<input id="cashReceived">

</div>



<div>

Change

<span id="change">

0

</span>

</div>